@font-face {
    font-family: Inter;
    src: url(fonts/inter/Inter-Medium.otf);
}

:root {
    --background-color: rgba(245,247,250,255);
    --footer-bc: rgba(38,50,56,255);
    --green: rgba(76,175,79,255);
}

button {
    width: 6rem;
    height: 3rem;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Inter;
    padding: 0;
    margin: 0;
    > * {
    padding: 0 10rem;
    }

    p {
        opacity: 0.6;
        font-size: 1.4rem;
    }

    h2 {
        font-size: 2.9rem;
        margin-bottom: 0;
        opacity: 0.7;
    }
}

header {
    background-color: var(--background-color);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0.7rem 8rem;
    gap: 1.5rem;
    .nav-link {
        display: flex;
        margin: auto;
        gap: 5rem;
        > * {
            text-decoration: none;
            color: black;
        }
    }
    .login {
        text-decoration: none;
        color: var(--green);
    }

    button {
        font-size: 1rem;
    }
}

.introducing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    height: 45rem;
    .introducing_text {
        h1 {
            font-size: 5rem;
            margin: 0;
        }

        span {
            color: var(--green);
        }

        button {
            width: 10rem;
            height: 4rem;
            margin-top: 1rem;
        }
    }

    img {
        width: 30rem;
        height: 30rem;
    }
}

.clients {
    text-align: center;
    gap: 10rem;
    .images {
        display: flex;
        justify-content: center;
        gap: 10.5rem;
        padding: 2rem 0;
        img {
            width: 5rem;
            height: 5rem;
        }
    }

}

.management {
    text-align: center;
    h2 {
        padding: 0 24rem;
    }
}

.membership {
    display: flex;
    justify-content: center;
    gap: 9rem;
    .first,
    .second,
    .third {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.03);
        width: 21rem;
        border-radius: 1rem;
        padding: 2rem;
        h3 {
           font-size: 2.5rem; 
           margin: 0;
        }

        img {
            width: 8rem;
            height: 7rem;
        }
    }
}


.pixelgrade,
.design_footer {
    display: flex;
    margin-top: 7rem;
    align-items: center;
    img {
        width: 40rem;
        height: 35rem;
    }  

    .text {
        padding: 0 8rem;
        h5 {
            font-size: 3rem;
            margin: 0;
        }  

        button {
            width: 13rem;
            height: 4rem;
            margin-top: 1rem;
        }  
    }  
}  


.statistic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25rem;
    background-color: var(--background-color);
    margin-top: 5rem;
    .statistic_text {
        h3 {
            font-size: 3rem;
            margin: 0;
        }  

        span {
            color: var(--green);
        }
    }
    
    .text h3 {
        margin: 0;
    }
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    > div {
        display: flex;
        align-items: center;
        margin: 2rem 0;
        flex: 1 1 50%;
        img {
                width: 4rem;
                height: 4rem;
                margin: 0;
            }  

        .text {
            margin-left: 1rem;
            h3 {
                font-size: 2rem;
                margin-bottom: 5px;
            }

            p {
                margin: 0;
            } 
        }
    }
}

.tesla {
    display: flex;
    background-color: var(--background-color);
    margin-top: 2rem;
    padding: 1.5rem 9rem;
    img {
        width: 28rem;
        height: 28rem;
        padding-right: 3rem;
    }

    h3 {
        color: var(--green);
        font-size: 1.6rem;
    }

    a {
        font-size: 1.8rem;
        color: var(--green);
        text-decoration: none;
    }

    p {
        margin-bottom: 2rem;
    }

    .customers_logos {
        display: flex;
        align-items: center;
        p {
            cursor: pointer;
        }

        img {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}

.blog {
    text-align: center;
    padding: 0 30rem;
    p {
        margin-top: 10px;
    }
}

.items {
    display: flex;
    gap: 2rem;
    img {
        width: 100%;
        height: 25rem;
        box-sizing: border-box;
    }

    > * {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .items_text {
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
        font-size: 1.7rem;
        width: 80%;
        height: 45%;
        text-align: center;
        position: absolute;
        z-index: 2;
        background-color: var(--background-color);
        top: 16rem;
        border-radius: 10px;
        padding: 1rem;
        p {
            font-size: 1.7rem;
            margin: 0;

        }

        a {
            display: inline-block;
            cursor: pointer;
            color: var(--green);
            text-decoration: none;
            padding: 2rem;
        }
    }
}


.last_block {
    margin-top: 13rem;
    padding: 2rem 20rem;
    background-color: var(--background-color);
    text-align: center;
    h3 {
        font-size: 5.5rem;
        margin: 2rem;
    }

    button {
        width: 14rem;
        height: 4rem;
    }
}

footer {
    background-color: var(--footer-bc);
    display: flex;
    justify-content: center;
    color: white;
    gap: 8rem;
    padding: 4rem 12rem;
    > * {
        text-align: start;
        h3 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
        ul {
            padding: 0;
            list-style: none;
            li {
                margin: 1rem 0;
                font-size: 1.1rem;
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }

    .contacts {
        > img {
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1.1rem;
        }

        .social_networks {
            display: flex;
            padding-top: 2.5rem;
            gap: 1.5rem;
            .img_background {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(60,71,76,255);
                border-radius: 50%;
                height: 2.5rem;
                width: 2.5rem;
                img {
                    display: flex;
                    width: 1.5rem;
                    height: 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }

    .email {
        position: relative;
    }

    .email input {
        width: 18rem;
        height: 1.5rem;
        border: none;
        padding: 1rem;
        border-radius: 10px;
        background-color: rgba(81,91,96,255);
        font-size: 1.2rem;
        z-index: 1;
        }

        input::placeholder {
            color: white; 
            opacity: 0.7;
        }


    a img {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        z-index: 2;
        top: 35%;
        right: 5%;
    }   
}   




/*     BIG PHONES AND TABLETS */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
        > * {
            padding: 0 2rem;
            text-align: center;
        }
    }


   header {
        padding: 1rem 2rem;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        .logo {
            height: 1.8rem;
        }
        .nav-link {
            gap: 1.5rem;
            > * {
                font-size: 0.9rem;
            }
        }
    }

  .introducing {
        flex-direction: column;
        height: auto;
        img {
            margin-top: 3rem;
            width: 25rem;
            height: 25rem;
        }
        .introducing_text h1 {
            font-size: 3.5rem;
        }
    }

    .images {
        gap: 2rem;
        img {
            width: 2rem;
            height: 2rem;
        }
    }


    .management {
        .membership {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            justify-content: center;
            align-items: center;
        }
        h2 {
            padding: 0;
        } 
    }


    .pixelgrade, .design_footer {
        flex-direction: column;
        img {
            width: calc(100% - 4rem);
            height: 50%;
        }
        .text {
            padding: 0;
        }
    }

    .statistic {
        height: 100%;
        display: block;
        .container {
            width: 100%;
            display: flex;
            > div {
                flex-direction: column;
            }
        }
    }

    .tesla {
        flex-direction: column;
        padding: 2rem;
        img {
            width: 80%;
        }

    .customers_logos {
        display: block;
        text-align: center;
        img {
            width: 3rem;
            height: 3rem;
        }
        
        a {
            display: block;
            font-size: 1.8rem;
            margin-top: 1rem;
            }
        }
    }

    .blog {
        padding: 0 2rem;
    }

    .items {
        flex-direction: column;
        > * {
            margin: 2.5rem 0;
        }
    }

    .last_block {
        padding: 2rem 0;
        h3 {
        font-size: 4rem;
        }
    }

    footer {
        flex-direction: column;
        padding: 2rem 2rem;
        gap: 2rem;
        a img  {
            display: none;
        }
    }
}









/* FOR TABLETS AND SMALL MONITORS */

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
        > * {
            padding: 0 2rem;
            box-sizing: border-box;
        }
    }


    header {
        padding: 1rem 2rem;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        .logo {
            height: 1.8rem;
        }
        .nav-link {
            gap: 1.5rem;
            > * {
                font-size: 0.9rem;
            }
        }
    }

    .introducing {
        img {
        width: 24rem;
        height: 24rem;
        }
    }

   .management .membership,
    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }


    .management h2 {
        padding: 0;
    }

    .statistic {
        height: 100%;
        display: block;
        text-align: center;
        .container {
            width: 100%;
            display: flex;
            > div {
                display: flex;
                justify-content: center;
                text-align: start;
            }
        }
    }

    .pixelgrade,
    .design_footer {
        img {
            width: 26rem;
        }

        .text {
            padding: 0 1rem;
        }
    }

    .tesla {
        flex-direction: column;
        padding: 2rem;
        img {
            width: 80%;
        }

        .customers_logos {
            display: block;
            text-align: center;
            img {
                width: 3rem;
                height: 3rem;
            }
            
            a {
                display: block;
                font-size: 1.8rem;
                margin-top: 1rem;
            }
        }
    }

    .blog {
        padding: 0 2rem;
    }

    .last_block {
        padding: 2rem 2rem;
    }

    .clients .images {
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

        .block {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        }

    .items {
        > div {
            width: 70%;
            margin: 3rem;
        }
    }

    footer {
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        a img  {
            display: none;
        }
    }  
}




/* FOR 1280px MONITORS */
@media (width: 1280px){
        body {
        overflow-x: hidden;
        > * {
            padding: 0 2rem;
            box-sizing: border-box;
        }
    }


    header {
        padding: 1rem 2rem;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        .logo {
            height: 1.8rem;
        }
        .nav-link {
            gap: 1.5rem;
            > * {
                font-size: 0.9rem;
            }
        }
    }

    .introducing {
        img {
        width: 24rem;
        height: 24rem;
        }
    }

   .management .membership,
    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }


    .management h2 {
        padding: 0;
    }

    .statistic {
        height: 100%;
        display: block;
        text-align: center;
        .container {
            width: 100%;
            display: flex;
            > div {
                display: flex;
                justify-content: center;
                text-align: start;
            }
        }
    }

    .pixelgrade,
    .design_footer {
        img {
            width: 26rem;
        }

        .text {
            padding: 0 1rem;
        }
    }

    .tesla {
        flex-direction: column;
        padding: 2rem;
        img {
            width: 50%;
        }

        .customers_logos {
            display: block;
            text-align: center;
            img {
                width: 3rem;
                height: 3rem;
            }
            
            a {
                display: block;
                font-size: 1.8rem;
                margin-top: 1rem;
            }
        }
    }

    .blog {
        padding: 0 2rem;
    }

    .last_block {
        padding: 2rem 2rem;
    }

    .clients .images {
        overflow-x: hidden;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

        .block {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        }

    .items {
        > div {
            width: 50%;
            margin: 3rem;
        }
    }

    footer {
        padding: 1rem;
        gap: 5rem;
        a img  {
            display: none;
        }
    }  

}